# Copy this file to .env and set your own values.
# These values are required.

TARGET_1_NAME=監視対象1
TARGET_1_URL=

TARGET_2_NAME=監視対象2
TARGET_2_URL=

TARGET_3_NAME=監視対象3
TARGET_3_URL=

TARGET_4_NAME=監視対象4
TARGET_4_URL=
